{% extends 'layout.html' %}

{% block title %}
<h2>
Login Page
</h2>
{% endblock  %}

{% block content %}
 <!-- Hero Section -->
 <section id="hero" class="hero section" style="color: #212529;">

  <div class="container">

  
    <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">


      
        <div class="row">
          <div class="col-md-12 margen-superior">
              <div class="section-header text-center pb-5"><br><br>
                  <h2 class="text-white titulo-club">Forgot your password?</h2><br><br>
                  <h2 class="text-white login-text">Please enter your email address and we will send you a link to reset your</h2>
              </div>
          </div>
        </div>
  
            <div class="col-md-4 cuadro-login">
              <div class="section-header text-center pb-5">

                  <form method="POST"  action="{% url 'users:forgot_password' %}">
                    {% csrf_token %}
                        <div class="mb-3">
                          <input type="text" class="form-control" name="email", placeholder="email" required>
                            <br>
                        </div>

                        <button type="submit" class="btn btn-primary form-control boton-login">Submit</button>
                        <br><br>

                  </form>
                  
                </div>
                
              </div>
            </div>

      </div>
    </div>    
      

    </div>
    

  </div>

</section><!-- /Hero Section -->
{% endblock  %}