{% autoescape off %}

Hola, {{student.first_name}}!

Estos son los requerimientos a cumplir para poder participar en las tertulias:

1.- Es requisito indispensable que hayas leído el libro de la tertulia que elegiste para que puedas participar activamente en ésta.

2.- Una de las ideas al asistir a las tertulias es la de hacer nuevas amistades; así que pensando en la seguridad de los asistentes,
es también requisito indispensable que te identifiques con tu identificación oficial, con el asesor o la asesora a cargo de la tertulia. Los coordinadores
tienen la encomienda de tomar los nombres del participante directamente de la identificacion oficial y relacionarlos con su 
lista de asistentes.

Si estas de acuerdo con los requisitos, por favor, da un click en este vínculo para terminar con el proceso de tu inscripción.

http://{{domain}}{% url 'inscripciones:activate' uidb64=uid token=token %}


{% endautoescape %}