{% extends 'layout.html' %}

{% block title %}
    Tertulias
{% endblock  %}

{% block content %}
<section class="quienes">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-1 col-xs-12 contenedor-titulo">

            <h2 class="titulo-club-2 text-white text-center md">Tertulias<span class="literatus">literarias</span>Sábatinas</h2>
            <br>
            <p class="text-white" style="text-align:justify;">IMPORTANTE: La inscripción a cualquiera de las tertulias es totalmente gratis, solamente debes de estar registrado previamente en LITERATUS. El cupo en las tertulias está limitado.</p>
            <br>
            <p class="text-white" style="text-align:justify;">Es requisito indispensable que hayas leido el libro(por lo menos una vez), de la tertulia a la cual te deseas inscribir. </p>
          </div>
        </div>
      </div>

         <!-- Trending Category Section -->
    <section id="trending-category" class="trending-category section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="container" data-aos="fade-up">
            <div class="tertulias_list_container row g-5">

              <div class="col-lg-4">

                <div class="post-entry lg">
                  <div class="post-meta"><span class="date">La guarida oficial</span> <span class="mx-1">•</span> <span>Literatus</span></div>
                  <h2 style="color: #ac1383; font-size: 35px; margin-bottom: 50px;">Agradecimiento de todo corazón a La Borra del Café (Chapultepec, Guadalajara) por facilitarnos sus instalaciones.</h2>
                  <a href="#"><img  src="/static/assets/img/la-borra-del-cafe-chapultepec.jpg" alt="" ></a>
                  <p class="image-tertulia">La Borra del Café sucursal  Av. Chapultepec, Guadalajara, Jalisco.</p>
                  <br>
                  <div class="d-flex align-items-center author">
                  <div class="photo"></div>

                  </div>
                </div>

              </div>

              
              <div class="col-lg-8">
                
                <div class="row g-5"style="margin-top: 25px;">
                  {% if tertulias %}
                  {% for tertulia in tertulias  %}  
                  <div class="col-lg-4 border-start custom-border">
                    <div class="post-entry">
                      <a href="#"><img style="margin-bottom: 0;" src="{{ tertulia.tertulia_banner.url }}" alt="" class="img-fluid"></a>
                      <h2><a href="#"><small class="text-white">Tertulia:</small> {{ tertulia.tertulia_name }} </a></h2>
                      <p class="mb-4 d-block"><small class="text-white" style="font-size: 14px;">Tertulia folio id #:</small><a href="{% url 'tertulias:page' slug=tertulia.slug %}">{{ tertulia.id }}</a>
                      </p>
                      <p class="post-meta"><span class="date"><small class="text-white" style="font-size: 14px;">Sede:</small> {{ tertulia.tertulia_address }} </span></p>
                      <br>
                      <p class="mb-4 d-block" style="text-align: justify !important;"><small class="text-white" style="font-size: 14px;">Descripcion:</small> {{ tertulia.tertulia_description}}</p>
                      <p class="mb-4 d-block"><small class="text-white" style="font-size: 14px;">Fecha de inicio:</small> {{ tertulia.tertulia_fecha_de_inicio | date:"d-m-Y" }}</p>
                      <p class="mb-4 d-block"><small class="text-white" style="font-size: 14px;">Horario:</small> {{ tertulia.tertulia_horario }}</p>
                      <p class="mb-4 d-block"><small class="text-white" style="font-size: 14px;">Sesiones:</small > {{ tertulia.tertulia_sesiones }}</p>
                      <p class="mb-4 d-block"><small class="text-white" style="font-size: 14px;">Lugares disponibles:</small > {{ tertulia.tertulia_lugares }}</p>
                      <br>
                      <p class="no-mas-lugares">{%if tertulia.tertulia_lugares == 0%} <span>Lo sentimos, NO quedan lugares disponibles </span> {% endif %} </p>
                      
                    </div>
                    
                    <div class="d-flex align-items-center author">
                      <div class="name">
                        {% if tertulia.tertulia_encargado_picture %}
                        <div class="photo"><img src="{{ tertulia.tertulia_encargado_picture.url }}" alt="" class="img-fluid"></div>
                        {% endif %}
                        <p class="mb-4 d-block"><small class="text-white" style="margin-buttom: 0px;">Literatus a cargo:</small >
                        <h3 class="m-0 p-0 nombre_encargado" style="padding-top: -10px;">{{ tertulia.tertulia_encargado }}</h3>
                      </div>
                    </div>
                    <br>
                    
                    <div class="d-flex align-items-center author">
                      
                      {%if tertulia.tertulia_lugares == 0%}
                      <a class="btn btn-primary" style="margin-top: 5px;" href="{% url 'inscripciones:no_hay_lugares' %}">Inscribirse</a>
                      {% else %}
                        <a class="btn btn-primary" style="margin-top: 5px;" href="{% url 'inscripciones:inscripcion_tertulia' %}">Inscribirse</a>
                      {% endif %}
                    </div>
                    <small class="tertulia-importante">Es IMPORTANTE que retengas el folio id de la tertulia y el nombre de la misma, ya que son campos obligatorios al momento de rellenar la solicitud de inscripción</small>
                    <div class="linea"></div>
                      
                    
                    
                    
                  </div>
                  {% endfor %}
                  {% endif %}
                 
                </div>
              </div>

              

            </div>
          </div>
        </div>
</section>
{% endblock  %}